.profile-header {
	background-image: linear-gradient(-139deg, #007bff 10%, #662d91 100%);
	border: 1px solid #979797;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	color: #fff;

	i {
		padding: 13px;
	}

	.alert {
		margin-bottom: 0;
	}
}

%highlight-btn {
	// background-color: map-get($theme-colors, primary);
	box-shadow: 0;
	color: #fff;
}

.btn-group {
	border: 1px solid #662d91;
	border-radius: 1.25rem;
	width: 70%;
}

.btn {
	border: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	width: 51%;
}

.leaderboard-list {
	margin-bottom: 7vh;
}

// .highlight-btn-left {
// 	@extend %highlight-btn;
// 	animation-duration: 650ms;
// 	animation-name: rightLeft;
//
// 	@keyframes rightLeft {
// 		0% {
// 			left: 50%;
// 			top: 0;
// 		}
//
// 		100% {
// 			left: 0;
// 			top: 0;
// 		}
// 	}
// }
//
// .highlight-btn-right {
// 	@extend %highlight-btn;
// 	animation-duration: 650ms;
// 	animation-name: leftRight;
//
// 	@keyframes leftRight {
// 		0% {
// 			right: 50%;
// 			top: 0;
// 		}
//
// 		100% {
// 			right: 0;
// 			top: 0;
// 		}
// 	}
// }

.img-profile {
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.img-profile-list {
	border-radius: 50%;
	height: 60px;
	width: 60px;
}

.highlight-user {
	background-color: rgba(0, 123, 255, 0.2);
}

.campus {
	color: #868e96;
	font-size: 0.9rem;
}
//Modal

.about-lead {
	h4 {
		color: #662d91;
	}

	li {
		color: #662d91;
	}

	li span {
		color: #676767;
	}
}

small {
	color: #868e96;
}
