<h1 mat-dialog-title>More about LEAD</h1>

<div mat-dialog-content class="mat-body">
  <p>
    Employers are looking for candidates who have done something
    <i><u>extra</u></i>
    . LEAD provides you with an opportunity to gain recognition for developing a
    range of skills outside your course.
  </p>
  <p>
    LEAD gives aspiring leaders an opportunity to build leadership capacity,
    interpersonal communication and gain skills for future employment.
  </p>
  <ul>
    <li>
      <span>
        Participate in LEAD Workshops, Activities, Events or Initiatives to gain
        points
      </span>
    </li>
    <li>
      <span>
        Students/Alumni who accumulate 100 points or more over the year will
        receive a Kent LEAD Program certificate and transcript of achievements
        for their portfolio’s
      </span>
    </li>
    <li>
      <span>
        Gain the most points this year and receive the LEAD Ambassador of the
        Year Award. Recipient receives a trophy and is nominated by Kent to win
        the NSW or VIC International Student of the Year Award competition
      </span>
    </li>
  </ul>

  <h1 mat-dialog-title>Register for Events:</h1>
  <p>
    Go to
    <a href="http://kent.edu.au/events" target="_blank" rel="noopener">
      Kent.edu.au/Events
    </a>
    and look for events that attract LEAD points!
  </p>

  <h1 mat-dialog-title>Contact us:</h1>
  <p>
    Email:
    <a
      href="mailto:lead@kent.edu.au?Subject=LEAD%20App%20Contact"
      target="_top"
    >
      Lead@kent.edu.au
    </a>
  </p>
</div>

<div mat-dialog-actions dir="rtl">
  <button mat-button (click)="closeModal()">Ok</button>
</div>
