@import 'src/assets/scss/mixins/avatars';

:host {
  table {
    width: 100%;
  }

  .mat-form-field {
    width: 100%;
  }

  .img-profile {
    @include profile(30px);
  }

  /* Structure */
  .container {
    position: relative;
  }

  .table-container {
    overflow: auto;
    position: relative;
  }

  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }

  .mat-column-created {
    max-width: 124px;
  }
}
