.snack-bar-warning {
  background: var(--warning);
  color: var(--light);
}

.snack-bar-success {
  background: var(--success);
  color: var(--light);
}

.snack-bar-error {
  background: var(--danger);
  color: var(--light);
}

// .snack-bar-info{
//   background: #f8d7da;
//   color: #721c24;
// }
