@mixin snack-bar($bgColor) {
  background: $bgColor;
  color: $light;

  span {
    color: $light;
  }
}

.snack-bar-warning {
  @include snack-bar($warning);
}

.snack-bar-success {
  @include snack-bar($success);
}

.snack-bar-error {
  @include snack-bar($danger);
}

.snack-bar-info {
  @include snack-bar($dark-gray);
}
