@use '~@angular/material' as mat;
// Custom Theme for Angular Material

@include mat.core();

$lead-app-primary: mat.define-palette(mat.$purple-palette, 800);
$lead-app-accent: mat.define-palette(mat.$light-blue-palette, 800);
$lead-app-warn: mat.define-palette(mat.$deep-orange-palette, 700);

$lead-app-theme: mat.define-light-theme(
  $lead-app-primary,
  $lead-app-accent,
  $lead-app-warn
);

@include mat.all-component-themes($lead-app-theme);

// LEAD Colour Palette
$success: #43a047;
$warning: #ffa000;
$danger: #d32f2f;
$dark-gray: #495057;
$light: #fff;
