div {
	align-items: center;
	background-image: linear-gradient(to bottom, #f04f2392, #f04f23);
	color: var(--light);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 0.5rem;
}
