@import 'src/assets/scss/mixins/avatars';

:host {
  table {
    width: 100%;
  }

  .mat-form-field {
    width: 100%;
  }

  .img-profile {
    @include profile(30px);
  }

  .table-container {
    overflow: auto;
    position: relative;
  }
}
