<!-- Admin Header -->
<div class="sticky-top primary-header pb-3">

	<div class="fixed-top">
		<i class="material-icons float-left" routerLink="/profile">keyboard_arrow_left</i>
	</div>

	<h2 class="text-center pt-4">Admin Panel</h2>
</div>

<!-- Toogle View -->
<div class="d-flex flex-column align-items-center">
	<div class="btn-group mt-3" role="group" aria-label="Admin Panel Selection">
		<button type="button" class="btn btn-outline-dark-gray" (click)="toggle('points')" [ngClass]="{'highlight-btn': tabActive === 'points'}">Points</button>
		<button type="button" class="btn btn-outline-dark-gray" (click)="toggle('bulk')" [ngClass]="{'highlight-btn': tabActive === 'bulk'}">Bulk</button>
		<button type="button" class="btn btn-outline-dark-gray" (click)="toggle('log')" [ngClass]="{'highlight-btn': tabActive === 'log'}">Logs</button>
	</div>
</div>

<!-- Big Div that align everything to the center-->
<section class="text-center mt-4 mb-5 d-flex flex-column align-items-center">

	<!-- Add Points -->
	<div class="card border-primary mb-2" *ngIf="tabActive === 'points'">
		<div class="card-header border-primary">
			<h5 class="card-title text-primary">LEAD Points</h5>Add their points below!
		</div>

		<div class="card-body">
			<ul class="list-group list-group-flush">
				<li class="list-group-item list-group-item-action" *ngFor="let user of fss.orderedUsers$ | async">
					<div class="d-flex justify-content-between">
						<div class="d-flex flex-column align-self-center">
							<div class="pr-2 d-flex">{{ user.displayName | titlecase }}</div>
							<div class="pr-2 d-flex secondary-text">{{ user.email }}</div>
							<div class="pr-2 d-flex secondary-text">{{ user.campus }}</div>
						</div>

						<div class="form-group mt-3 points-box">
							<input type="number" class="form-control text-right points-box" step="10" placeholder="{{ user.points }}" value="{{ user.points }}" (change)="update(user, $event)">
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="mt-5 mb-5" *ngIf="tabActive === 'points'">
		<button type="button" class="btn btn-block btn-outline-primary" (click)="openDialog(resetPoints)">Reset All Points</button>
	</div>

	<!-- Bulk Edit -->
	<div class="card border-primary mb-3" *ngIf="tabActive === 'bulk'">
		<div class="card-header border-primary">
			<h5 class="card-title text-primary">Bulk Edit</h5>Manage users
		</div>

		<div class="card-body">
			<h5 class="card-title">Select Users</h5>

			<form [formGroup]="addPointsForm" (ngSubmit)="addPoints(addPointsForm.value)" novalidate>

				<div class="input-group mb-3" *ngFor="let user of fss.orderedUsers$ | async">

					<div class="input-group-prepend">

						<div class="input-group-text">
							<input type="checkbox" aria-label="Checkbox for following text input" (change)="onChange(user.uid, $event.target.checked)">
						</div>
					</div>

					<div *ngFor="let user of users | async">
						<input type="checkbox"> {{ user.displayName }}
					</div>

					<div class="d-flex justify-content-between form-control fix-line">
						<div class="flex-column text-left">
							<p>{{ user.displayName }}</p>
							<p class="secondary-text">{{ user.email }}</p>
							<p class="secondary-text">{{ user.campus }}</p>
						</div>
						<p class="pr-2 align-self-center">{{ user.points }}</p>
					</div>

				</div>

				<h5 class="card-title">Insert Points</h5>
				<div class="form-group mt-3">
					<div class="p-2">
						<input type="number" class="form-control" step="10" aria-describedby="points" placeholder="Points to add" formControlName="points">
					</div>

					<div class="p-2">
						<button type="submit" class="btn btn-primary">Add Points</button>
					</div>
				</div>

			</form>
		</div>
	</div>

	<!-- Logs -->
	<div class="card border-primary mb-3" *ngIf="tabActive === 'log'">
		<div class="card-header border-primary">
			<h5 class="card-title text-primary">Logs</h5>Check all the changes that have been made
		</div>

		<div class="card-body" *ngFor="let log of fss.logs$ | async">
			<div class="alert alert-dark-gray text-left" role="alert">
				<strong>{{ log.adminName | titlecase }}</strong> added <strong>{{ log.pointsAdded }} points</strong> to <strong>{{ log.userName | titlecase }}</strong>
				<br>
				{{ log.log }}
				<p class="text-right pt-2">{{ log.date | date: 'medium' }}</p>
			</div>
		</div>
	</div>
</section>

<ng-template #resetPoints>
	<mat-dialog-content class="modal-incognito" class="modal-reset-points">
		<div class="modal-header">
			<h4 mat-dialog-title>Reset LEAD Points</h4>
			<button type="button" class="close" aria-label="Close" (click)="dialogRef.close()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body text-center">
			<i class="material-icons">warning</i>
			<p>This will permanently delete ALL points of every single user.</p>
			<p>Do you want to continue?</p>
			<div class="d-flex justify-content-around">
				<button type="button" class="btn btn-dark-gray" (click)="dialogRef.close()">No</button>
				<button type="button" class="btn btn-outline-danger" (click)="deletePoints()">Yes</button>
			</div>
		</div>
	</mat-dialog-content>
</ng-template>
