@mixin header($property) {
  background-image: $property;
  border: 1px solid #979797;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  color: var(--light);
  position: sticky;
  top: 0;
  z-index: 999;
}
