@import 'src/assets/scss/mixins/headers';
@import 'src/assets/scss/mixins/avatars';

.modal-incognito {
  button {
    width: 30%;
  }

  .material-icons {
    font-size: 6rem;
  }
}

:host {
  mat-icon {
    cursor: pointer;
    margin: 10px;
  }

  .header {
    @include header(
      radial-gradient(at 50% 70%, #f1592a 12%, var(--primary) 100%)
    );

    min-height: 310px;

    .mat-display-1 {
      margin: 0 0 4px;
    }

    .img-profile {
      @include profile(120px);
    }

    .edit-img {
      left: 50%;
      opacity: 0.9;
      position: absolute;
      top: 196px;
      transform: translate(-50%, -50%);
    }

    .mat-progress-spinner {
      position: absolute;
      top: 132px;
      transform: rotate(180deg);
    }
  }

  button {
    margin: 0.6em;
    min-width: 60%;
  }

  .profile-details {
    margin: 1.5rem 0 3rem 0;

    & > * {
      min-width: 80%;
      text-align: center;
      color: var(--dark-gray);
      background-color: #e6e6e6;
      border: 1px solid var(--light-gray);
      padding-top: 16px;
      padding-bottom: 16px;
      border-radius: 8px;
    }
  }

  small {
    bottom: 3px;
    position: fixed;
    right: 5px;
  }
}
