<div *ngIf="(auth.user$ | async) as user">
  <div class="header">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-icon routerLink="/leaderboard">keyboard_arrow_left</mat-icon>
      <mat-icon (click)="auth.signOut()">power_settings_new</mat-icon>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-around center">
      <h1 class="mat-display-1">Hello</h1>
      <h1 class="mat-h2">{{ user.displayName | titlecase }}</h1>

      <img
        id="upload"
        class="img-profile"
        src="{{ user.photoURL }}"
        alt="User Profile Image"
      />

      <img
        *ngIf="!user.incognitoMode"
        class="edit-img img-profile"
        src="assets/profile/edit.svg"
        alt="Edit"
        (click)="file.click()"
      />

      <mat-progress-spinner
        *ngIf="(uploadPercent | async) !== null"
        class="mat-progress-spinner"
        color="primary"
        diameter="128"
        strokeWidth="4"
        [mode]="mode"
        value="{{ uploadPercent | async }}"
      ></mat-progress-spinner>

      <p class="mat-small" *ngIf="user.incognitoMode">
        Only you can see your profile picture!
      </p>

      <p
        class="mat-body"
        *ngIf="
          (uploadPercent | async) !== 100 && (uploadPercent | async) !== null
        "
      >
        Loading {{ uploadPercent | async }}%
      </p>
      <p class="mat-body" *ngIf="(uploadPercent | async) === 100">
        Upload Completed
      </p>
    </div>
  </div>

  <div hidden>
    <input type="file" (change)="fileChangeEvent($event)" />
    <input
      #file
      id="file"
      type="file"
      accept="image/*"
      (change)="uploadFile($event)"
    />
  </div>

  <form [formGroup]="userForm" fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field appearance="outline">
      <input
        matInput
        type="text"
        aria-describedby="displayName"
        placeholder="Enter your name"
        value="{{ user.displayName | titlecase }}"
        formControlName="displayName"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input
        matInput
        type="email"
        aria-describedby="email"
        placeholder="Enter your email"
        value="{{ user.email }}"
        formControlName="email"
      />
    </mat-form-field>
  </form>

  <div fxLayout="column" fxLayoutAlign="space-around center">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      *ngIf="user.incognitoMode"
      (click)="openIncognitoDialog()"
    >
      Leave Incognito!
    </button>

    <button
      mat-stroked-button
      color="primary"
      type="button"
      routerLink="/dashboard"
      *ngIf="user.role === 'admin'"
    >
      Go to Admin Dashboard
    </button>
  </div>

  <small class="mat-small">v.{{ version }}</small>
  <app-footer></app-footer>
</div>
