@import 'src/assets/scss/extendable/headers';
@import 'src/assets/scss/mixins/avatars';

:host {
  mat-icon {
    cursor: pointer;
    margin: 10px;
  }

  .header {
    @extend %header;

    background-image: radial-gradient(
      at 50% 70%,
      #f1592a 12%,
      var(--primary) 100%
    );

    .img-profile {
      @include profile(120px);
    }

    .edit-img {
      left: 50%;
      opacity: 0.9;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

small {
  bottom: 3px;
  // padding: 0.5vh;
  position: fixed;
  right: 5px;
}

.modal-incognito {
  button {
    width: 30%;
  }

  .material-icons {
    font-size: 6rem;
  }
}

.button-column {
  align-items: center;
  display: flex;
  flex-direction: column;

  button {
    margin: 0.6em;
    min-width: 60%;
  }
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form > * {
  min-width: 80%;
  text-align: center;
}

.mat-progress-spinner {
  left: -4px;
  position: absolute;
  top: -4px;
  transform: rotate(180deg);
}
