.secondary-header {
  background-image: radial-gradient(
    at 50% 70%,
    #f1592a 12%,
    var(--primary) 100%
  );
  border: 1px solid #979797;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  color: var(--light);
  z-index: 999;

  .img-profile {
    border-radius: 50%;
    height: 120px;
    width: 120px;
  }

  .edit-img {
    left: 50%;
    opacity: 0.9;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  div {
    position: relative;

    i {
      cursor: pointer;
      padding: 13px;
    }
  }
}

small {
  bottom: 3px;
  // padding: 0.5vh;
  position: fixed;
  right: 5px;
}

.modal-incognito {
  button {
    width: 30%;
  }

  .material-icons {
    font-size: 6rem;
  }
}

.button-column {
  align-items: center;
  display: flex;
  flex-direction: column;

  button {
    margin: 0.6em;
    min-width: 60%;
  }
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form > * {
  min-width: 80%;
  text-align: center;
}

.mat-progress-spinner {
  left: -4px;
  position: absolute;
  top: -4px;
  transform: rotate(180deg);
}
