.mat-dialog-title,
.mat-dialog-content {
  text-align: center;
}

.mat-dialog-title {
  color: var(--primary);
}

.mat-dialog-actions {
  button {
    margin: 1%;
    width: 48%;
  }
}

.spinner {
  align-items: center;
  display: flex;
  justify-content: center;
}
