.primary-header {
  i {
    padding: 13px;
  }

  .alert {
    margin-bottom: 0;
  }
}

.btn-group {
  border: 1px solid var(--primary);
  border-radius: 1.25rem;
  width: 70%;
}

.btn {
  border: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: 51%;
}

.leaderboard-list {
  margin-bottom: 7vh;
}

.img-profile {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.img-profile-list {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.highlight-user {
  background-color: rgba(0, 123, 255, 0.2);
}

.campus {
  color: var(--light-gray);
  font-size: 0.9rem;
}

// Modal
mat-dialog-content {
  h4,
  li,
  a {
    color: var(--primary);
  }

  li span {
    color: var(--dark-gray);
  }

  .modal-header {
    margin-bottom: 1em;
    padding: 0;
  }
}

small {
  color: var(--secondary);
}

// %highlight-btn {
// 	box-shadow: 0;
// 	color: var(--light);
// }

// .highlight-btn-left {
// 	@extend %highlight-btn;
// 	animation-duration: 650ms;
// 	animation-name: rightLeft;
//
// 	@keyframes rightLeft {
// 		0% {
// 			left: 50%;
// 			top: 0;
// 		}
//
// 		100% {
// 			left: 0;
// 			top: 0;
// 		}
// 	}
// }
//
// .highlight-btn-right {
// 	@extend %highlight-btn;
// 	animation-duration: 650ms;
// 	animation-name: leftRight;
//
// 	@keyframes leftRight {
// 		0% {
// 			right: 50%;
// 			top: 0;
// 		}
//
// 		100% {
// 			right: 0;
// 			top: 0;
// 		}
// 	}
// }
