<!-- User Status -->
<div
  *ngIf="(auth.user$ | async) as authUser"
  [ngClass]="{ incognitoMode: authUser.incognitoMode }"
>
  <div class="sticky-top primary-header pb-3">
    <div class="fixed-top">
      <i class="material-icons float-left" routerLink="/profile">settings</i>
      <i class="material-icons float-right" (click)="openDialog(aboutLead)"
        >help</i
      >
    </div>

    <h2 class="text-center pt-4">LEAD Points</h2>

    <div class="d-flex justify-content-around">
      <div class="d-flex align-items-center" routerLink="/profile">
        <img
          class="img-profile"
          [src]="authUser.photoURL"
          alt="User Profile Image"
        />
      </div>

      <div class="d-flex align-items-center">
        <h2>{{ authUser.points }} pts</h2>
      </div>
    </div>
    <div class="text-center mt-2" *ngIf="authUser.incognitoMode">
      Only you can see your profile picture!
    </div>
    <div class="text-center mt-2" *ngIf="authUser.points >= 100">
      Congratulations on achieving 100 points or more! <br />
      You’re now eligible to receive a LEAD Certificate
    </div>
  </div>

  <!-- TODO:  Separate into a component -->
  <!-- Users List -->
  <ng-container>
    <cdk-virtual-scroll-viewport itemSize="100">
      <li
        *cdkVirtualFor="let user of fss.users$; let i = index"
        class="animated fadeInUp list-group-item list-group-item-action"
      >
        <div class="d-flex">
          <div class="p-2 d-flex align-items-center">{{ i + 1 }}</div>
          <div class="p-2 d-flex align-items-center">
            <img
              class="img-profile-list"
              [src]="user.photoURL"
              alt="User Profile Image"
            />
          </div>
          <div class="flex-column align-self-center">
            <div class="pl-2 pr-2 d-flex">
              {{ user.displayName | titlecase }}
            </div>
          </div>
          <div
            class="ml-auto p-2 d-flex align-items-center"
            *ngIf="authUser.role === 'admin'"
          >
            {{ user.points }}
          </div>
          <div
            class="ml-auto p-2 d-flex align-items-center"
            *ngIf="user.points < 100 && authUser.role !== 'admin'"
          >
            {{ user.points }}
          </div>
          <div
            class="ml-auto p-2 d-flex align-items-center"
            *ngIf="user.points >= 100 && authUser.role !== 'admin'"
          >
            100+
          </div>
        </div>
      </li>
    </cdk-virtual-scroll-viewport>
  </ng-container>
</div>

<ng-template #aboutLead>
  <mat-dialog-content class="about-lead">
    <div class="modal-header">
      <h4 mat-dialog-title>More about LEAD</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="aboutLeadDialog.close()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <p>
      Employers are looking for candidates who have done something
      <i><u>extra</u></i
      >. LEAD provides you with an opportunity to gain recognition for
      developing a range of skills outside your course.
    </p>
    <p>
      LEAD gives aspiring leaders an opportunity to build leadership capacity,
      interpersonal communication and gain skills for future employment.
    </p>
    <ul>
      <li>
        <span
          >Participate in LEAD Workshops, Activities, Events or Initiatives to
          gain points</span
        >
      </li>
      <li>
        <span
          >Students/Alumni who accumulate 100 points or more over the year will
          receive a Kent LEAD Program certificate and transcript of achievements
          for their portfolio’s</span
        >
      </li>
      <li>
        <span
          >Gain the most points this year and receive the LEAD Ambassador of the
          Year Award. Recipient receives a trophy and is nominated by Kent to
          win the NSW or VIC International Student of the Year Award
          competition</span
        >
      </li>
    </ul>

    <h4 mat-dialog-title>Register for Events:</h4>
    <p>
      Go to
      <a href="http://kent.edu.au/events" target="_blank" rel="noopener"
        >Kent.edu.au/Events</a
      >
      and look for events that attract LEAD points!
    </p>

    <h4 mat-dialog-title>Contact us:</h4>
    <p>
      Email:
      <a
        href="mailto:lead@kent.edu.au?Subject=LEAD%20App%20Contact"
        target="_top"
        >Lead@kent.edu.au</a
      >
    </p>
  </mat-dialog-content>
</ng-template>
