<div
  *ngIf="(auth.user$ | async) as authUser"
  [ngClass]="{ incognitoMode: authUser.incognitoMode }"
>
  <div class="header">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-icon routerLink="/profile">settings</mat-icon>
      <mat-icon (click)="openDialog()">help</mat-icon>
    </div>

    <h1 class="mat-display-1">LEAD Points</h1>

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        routerLink="/profile"
      >
        <img
          class="img-profile"
          [src]="authUser.photoURL"
          alt="User Profile Image"
        />
      </div>

      <h1 class="mat-display-1">{{ authUser.points }} pts</h1>
    </div>

    <p class="mat-body" *ngIf="authUser.points >= 100">
      Congratulations on achieving 100 points or more!
      <br />
      You’re now eligible to receive a LEAD Certificate
    </p>

    <p class="mat-small" *ngIf="authUser.incognitoMode">
      Only you can see your profile picture!
    </p>
  </div>

  <ng-container>
    <div class="spinner" *ngIf="!fss.users$"><mat-spinner></mat-spinner></div>

    <cdk-virtual-scroll-viewport itemSize="100">
      <mat-list>
        <mat-list-item
          *cdkVirtualFor="let user of fss.users$; let i = index"
          class="animated fadeInUp"
          [ngClass]="{ 'highlight-user': user.uid === authUser.uid }"
        >
          <p mat-list-icon>{{ i + 1 }}</p>
          <img
            class="img-profile-list"
            [src]="user.photoURL"
            alt="User Profile Image"
            matListAvatar
          />
          <h4 mat-line>{{ user.displayName | titlecase }}</h4>

          <div class="d-flex align-items-center ml-auto p-2">
            <p *ngIf="authUser.role === 'admin'">{{ user.points }}</p>
            <p *ngIf="user.points < 100 && authUser.role !== 'admin'">
              {{ user.points }}
            </p>
            <p *ngIf="user.points >= 100 && authUser.role !== 'admin'">100+</p>
          </div>

          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </cdk-virtual-scroll-viewport>
  </ng-container>
</div>

<app-footer></app-footer>
