@import 'src/assets/scss/mixins/headers';
@import 'src/assets/scss/mixins/avatars';

.header {
  @include header(
    linear-gradient(-139deg, var(--secondary) 10%, var(--primary) 100%)
  );

  p {
    margin-top: 0;
  }
}

:host {
  .header-row {
    padding-bottom: 14px;
  }

  mat-icon {
    cursor: pointer;
    margin: 10px;
  }

  h1,
  p {
    text-align: center;
  }

  h4 {
    padding-right: 16px !important;
    text-align: left;
    white-space: pre-line !important;
  }

  .mat-display-1 {
    margin: 0 0 16px;
  }

  .mat-h1 {
    color: var(--dark-gray);
    margin: 0;
  }

  .mat-h3 {
    font-size: 18px !important;
    margin: 0 0.6rem 0 0;
  }

  .img-profile {
    @include profile(100px);
  }

  .img-profile-list {
    @include profile(80px);
  }

  .highlight-user {
    background-color: rgba(0, 123, 255, 0.2);
  }

  cdk-virtual-scroll-viewport {
    height: 80vh;

    mat-list-item {
      height: 100px;
    }
  }

  mat-spinner {
    position: fixed;
    top: 50vh;
  }
}
