@import 'src/assets/scss/extendable/headers';
@import 'src/assets/scss/mixins/avatars';

:host {
  .header {
    @extend %header;

    background-image: linear-gradient(
      -139deg,
      var(--secondary) 10%,
      var(--primary) 100%
    );
  }

  mat-icon {
    cursor: pointer;
    margin: 10px;
  }

  h1,
  p {
    text-align: center;
  }

  .mat-display-1 {
    margin: 0 0 16px;
  }

  .img-profile {
    @include profile(100px);
  }

  .img-profile-list {
    @include profile(60px);
  }

  .highlight-user {
    background-color: rgba(0, 123, 255, 0.2);
  }

  cdk-virtual-scroll-viewport {
    height: 80vh;

    mat-list-item {
      height: 100px !important;
    }
  }
}
