<div
  *ngIf="(auth.user$ | async) as authUser"
  [ngClass]="{ incognitoMode: authUser.incognitoMode }"
>
  <app-awards-banner></app-awards-banner>

  <div class="sticky-top primary-header pb-3">
    <div class="fixed-top">
      <i class="material-icons float-left" routerLink="/profile">settings</i>
      <i class="material-icons float-right" (click)="openDialog()">help</i>
    </div>

    <h2 class="text-center pt-4">LEAD Points</h2>

    <div class="d-flex justify-content-around">
      <div class="d-flex align-items-center" routerLink="/profile">
        <img
          class="img-profile"
          [src]="authUser.photoURL"
          alt="User Profile Image"
        />
      </div>

      <div class="d-flex align-items-center">
        <h2>{{ authUser.points }} pts</h2>
      </div>
    </div>
    <div class="text-center mt-2" *ngIf="authUser.incognitoMode">
      Only you can see your profile picture!
    </div>
    <div class="text-center mt-2" *ngIf="authUser.points >= 100">
      Congratulations on achieving 100 points or more!
      <br />
      You’re now eligible to receive a LEAD Certificate
    </div>
  </div>

  <ng-container>
    <div *ngIf="!fss.users$" class="spinner"><mat-spinner></mat-spinner></div>

    <cdk-virtual-scroll-viewport itemSize="100">
      <li
        *cdkVirtualFor="let user of fss.users$; let i = index"
        class="animated fadeInUp list-group-item list-group-item-action"
        [ngClass]="{ 'highlight-user': user.uid === authUser.uid }"
      >
        <div class="d-flex">
          <div class="p-2 d-flex align-items-center">{{ i + 1 }}</div>
          <div class="p-2 d-flex align-items-center">
            <img
              class="img-profile-list"
              [src]="user.photoURL"
              alt="User Profile Image"
            />
          </div>
          <div class="flex-column align-self-center">
            <div class="pl-2 pr-2 d-flex">
              {{ user.displayName | titlecase }}
            </div>
          </div>
          <div
            class="ml-auto p-2 d-flex align-items-center"
            *ngIf="authUser.role === 'admin'"
          >
            {{ user.points }}
          </div>
          <div
            class="ml-auto p-2 d-flex align-items-center"
            *ngIf="user.points < 100 && authUser.role !== 'admin'"
          >
            {{ user.points }}
          </div>
          <div
            class="ml-auto p-2 d-flex align-items-center"
            *ngIf="user.points >= 100 && authUser.role !== 'admin'"
          >
            100+
          </div>
        </div>
      </li>
    </cdk-virtual-scroll-viewport>
  </ng-container>
</div>

<app-footer></app-footer>
