p {
  margin-bottom: 0;
}

.primary-header {
  i {
    padding: 8px 0 8px 2px;
  }

  h2 {
    text-align: center;
  }
}

.img-profile-list {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.card {
  margin: 0 2vh;
  max-height: 72vh;
  min-width: 19rem;
}

.input-group-text {
  background-color: var(--light);
  border-right: 0;
}

.form-control {
  border-left: 0;

  p {
    margin-bottom: 0;
  }
}

.points-box {
  max-width: 4.6rem;
}

.secondary-text {
  color: var(--light-gray);
  font-size: 0.9rem;
}

.fix-line {
  height: 100%;
}

.modal-reset-points {
  button {
    width: 30%;
  }

  .material-icons {
    font-size: 4rem;
  }
}

cdk-virtual-scroll-viewport {
  height: 100vh;

  li {
    height: 250px;
  }
}

.scroll-points {
  height: 75vh;

  li {
    height: 100px;
  }
}

.log-item {
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 6px;
  margin: 4% 2%;
  padding: 1.8rem;

  p:first-child {
    margin-bottom: 0.5em;
  }
}
