:host {
  text-align: center;

  img {
    height: auto;
    margin-bottom: 1rem;
    max-width: 100%;
  }

  button {
    margin: 0.5rem 0;
  }

  section {
    padding: 4rem 1.3rem;
  }

  // Campus Style
  h1 {
    color: var(--primary);
  }

  small,
  h3 {
    color: var(--dark-gray);
  }
}
