:host {
  text-align: center;

  img {
    height: auto;
    max-width: 100%;
  }

  section {
    padding: 3rem 1.5rem;
  }

  // Campus Style
  h3 {
    color: var(--primary);
  }

  small {
    color: var(--dark-gray);
  }
}
