<div [@routerAnimation]="getRouteAnimation(route)">
  <router-outlet #route="outlet"></router-outlet>
</div>

<footer class="fixed-bottom" (click)="showCredits()">

  <div class="banner-inactive" *ngIf="!isShowingCredits">
    <i class="material-icons">remove</i>
    <span>Created by Renan Sigolo</span>
  </div>

  <div class="banner-active" *ngIf="isShowingCredits">
    <i class="material-icons">keyboard_arrow_down</i>
    <span>Created by Renan Sigolo</span>
    <br>
    <p class="pt-1">Mr Renan Ferreira is a student of Kent’s Diploma of Website Development course who offered to create this website as a volunteer project. Kent Institute Australia sincerely thanks Renan and acknowledges the amazing contribution he has made to the LEAD program by volunteering his time and skills to make this service available to his fellow students.</p>
  </div>
</footer>
