.profile-header {
	background-image: linear-gradient(-139deg, #007bff 10%, #662d91 100%);
	border: 1px solid #979797;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	color: #fff;

	i {
		padding: 13px;
	}
}

.img-profile-list {
	border-radius: 50%;
	width: 35px;
}

.card {
	width: 19rem;
}

.highlight-btn {
	background-color: #662d91;
	box-shadow: 0;
	color: #fff;
}

.btn-group {
	.btn {
		width: 6.4rem;
	}
}

.input-group-text {
	background-color: #fff;
	border-right: 0;
}

.form-control {
	border-left: 0;

	p {
		margin-bottom: 0;
	}
}

.points-box {
	width: 4.2rem;
}

.campus {
	color: #868e96;
	font-size: 0.9rem;
}

.custom-select {
	color: #6b747d;
}

.modal-reset-points {
	.d-flex {
		justify-content: space-evenly;
	}

	button {
		width: 30%;
	}

	.material-icons {
		font-size: 4rem;
	}
}
