:host {
  div {
    height: 91vh;
    margin: 10px;
  }

  mat-card {
    margin-bottom: 10px;

    mat-card-footer {
      margin: 0 10px;
    }
  }

  .no-records-msg {
    margin-top: 64px;
    text-align: center;
  }
}
