<div>
  <mat-card *ngFor="let log of fss.logs$ | async; let i = index">
    <mat-card-content>
      <span class="mat-body-strong">{{ log.adminName | titlecase }}</span>
      <h4 class="mat-h4" *ngIf="log.pointsAdded">
        {{ dashboardService.logText(log.pointsAdded, log.userName) }}
      </h4>
      <h4 class="mat-h4">{{ log.message }}</h4>
    </mat-card-content>

    <mat-card-footer dir="rtl" class="mat-body-strong">
      <p>{{ log.date | date: 'medium' }}</p>
    </mat-card-footer>
  </mat-card>

  <div class="no-records-msg" *ngIf="(fss.logs$ | async)?.length === 0">
    <h1 class="mat-display-1">😢 No logs found</h1>
  </div>
</div>
