<cdk-virtual-scroll-viewport itemSize="100">
  <form [formGroup]="addPointsForm" (ngSubmit)="addPoints(addPointsForm.value)">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <mat-form-field appearance="outline" color="primary">
        <input
          matInput
          type="number"
          step="10"
          aria-describedby="points"
          placeholder="Points to add"
          formControlName="points"
        />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Add Points
      </button>
    </div>

    <div
      class="input-group p-1"
      *ngFor="let user of (fss.orderedUsers$ | async)"
    >
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input
            type="checkbox"
            aria-label="Checkbox for following text input"
            (change)="onChange(user.uid, $event.target.checked)"
          />
        </div>
      </div>
      <div *ngFor="let user of (users | async)">
        <input type="checkbox" />
        {{ user.displayName }}
      </div>
      <div class="d-flex justify-content-between form-control fix-line">
        <div class="flex-column text-left">
          <p>{{ user.displayName | titlecase }}</p>
          <p class="secondary-text">{{ user.email }}</p>
          <p class="secondary-text">{{ user.campus }}</p>
        </div>
        <p class="pr-2 align-self-center">{{ user.points }}</p>
      </div>
    </div>
  </form>
</cdk-virtual-scroll-viewport>
