<cdk-virtual-scroll-viewport itemSize="100">
  <form [formGroup]="addPointsForm" (ngSubmit)="addPoints(addPointsForm.value)">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <mat-form-field appearance="outline" color="primary">
        <input
          matInput
          type="number"
          step="10"
          aria-describedby="points"
          placeholder="Points to add"
          formControlName="points"
        />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Add Points
      </button>
    </div>

    <p>Users selected: {{ users.selectedOptions.selected.length }}</p>

    <mat-selection-list #users>
      <mat-list-option
        checkboxPosition="before"
        *ngFor="let user of (fss.orderedUsers$ | async)"
      >
        <mat-list-item>
          <img matListAvatar [src]="user.photoURL" alt="User Profile Image" />
          <p matLine>{{ user.displayName | titlecase }}</p>
          <p matLine class="secondary-text">{{ user.email }}</p>
          <!-- <p matLine class="secondary-text">{{ user.campus }}</p> -->
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </form>
</cdk-virtual-scroll-viewport>
