:host {
  cdk-virtual-scroll-viewport {
    height: 92vh;

    mat-list-item {
      p {
        color: var(--light-gray);
      }

      mat-form-field {
        max-width: 8rem;
        text-align: center;
        width: 22vw;
      }
    }
  }
}
