<ng-container>
  <cdk-virtual-scroll-viewport itemSize="100">
    <mat-list>
      <mat-list-item
        *ngFor="let user of fss.usersByName$ | async; let i = index"
      >
        <img matListAvatar [src]="user.photoURL" alt="User Profile Image" />
        <h3 matLine>{{ user.displayName | titlecase }}</h3>
        <p matLine>{{ user.email }}</p>
        <p matLine>{{ user.campus }}</p>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="number"
            step="10"
            placeholder="Add Points"
            [value]="user.points"
            [formControl]="pointsFormControl"
            (change)="checkPoints(user)"
          />
        </mat-form-field>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </cdk-virtual-scroll-viewport>
</ng-container>
