/* Global styles */
// Angular Material Reset
html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

:root {
  // CSS Variables
  --primary: #662d91;
  --secondary: #0072bb;
  --tertiary: #f04f23;
  --danger: #dc3545;
  --warning: #ffc107;
  --success: #217c49;
  --dark-gray: #6c757d;
  --dark: #000;
  --light-gray: #868e96;
  --light: #fff;

  // Custom Styles for Angular Material Components
  @import 'assets/scss/material-components/buttons';
  @import 'assets/scss/material-components/form-field';
  @import 'assets/scss/material-components/snack-bar';
  @import 'assets/scss/material-components/spinner';

  // Custom General Styles
  @import 'assets/scss/custom-elements/elements';
}
