/* Global styles */
// Custom Theme for Angular Material and Bootstrap
@import 'assets/scss/custom-theme';

// Import Bootstrap
// @import '../node_modules/bootstrap/scss/bootstrap';
// @import '../node_modules/bootstrap/scss/bootstrap-reboot';
// @import '../node_modules/bootstrap/scss/bootstrap-grid';
// @import '../node_modules/bootstrap/scss/utilities';

// // Angular Material Reset
// html,
// body {
//   height: 100%;
// }
//
// body {
//   font-family: Roboto, 'Helvetica Neue', sans-serif;
//   margin: 0;
// }

:root {
  // CSS Variables
  --primary: #662d91;
  --secondary: #0072bb;
  --tertiary: #f04f23;
  --danger: #dc3545;
  --warning: #ffc107;
  --success: #217c49;
  --dark-gray: #6c757d;
  --dark: #000;
  --light-gray: #868e96;
  --light: #fff;

  // Custom Styles for Angular Material Components
  @import 'assets/scss/custom-components/buttons';
  @import 'assets/scss/custom-components/form-field';
  @import 'assets/scss/custom-components/snack-bar';
  @import 'assets/scss/custom-components/spinner';

  // Custom General Styles
  @import 'assets/scss/elements';
  @import 'assets/scss/headers';
}
