@use '~@angular/material' as mat;

mat-card {
  mat-card-content {
    text-align: center;
  }
}

mat-card:hover {
  @include mat.elevation(5);

  cursor: pointer;
}

.grid-container {
  height: 88vh;
  margin: 20px;

  a {
    height: auto;
    min-width: 80%;
  }
}

.mat-icon {
  font-size: 5.6rem;
  height: 5.6rem;
  width: 5.6rem;
}
