<!-- Admin Header -->
<div class="primary-header pb-1 pt-2" fxLayout="row wrap">
  <i class="material-icons" routerLink="/profile" fxFlex="initial">
    keyboard_arrow_left
  </i>
  <h2 fxFlex fxFill>Admin Dashboard</h2>
</div>

<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Points">
    <div class="card-header text-center border-primary pt-3">
      <h5 class="card-title text-primary">LEAD Points</h5>
      Add LEAD points to one user
    </div>

    <cdk-virtual-scroll-viewport
      itemSize="100"
      class="card-body list-group list-group-flush scroll-points"
    >
      <li
        *cdkVirtualFor="let user of (fss.orderedUsers$ | async)"
        class="list-group-item list-group-item-action align-items-center"
      >
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <img
              class="img-profile-list mr-2"
              [src]="user.photoURL"
              alt="User Profile Image"
            />
            <div class="d-flex flex-column">
              <div class="pr-2 d-flex text-left">
                {{ user.displayName | titlecase }}
              </div>
              <div class="pr-2 d-flex secondary-text">{{ user.email }}</div>
              <div class="pr-2 d-flex secondary-text">{{ user.campus }}</div>
            </div>
          </div>

          <div class="form-group mt-3 points-box">
            <input
              type="number"
              class="form-control text-right points-box"
              step="10"
              placeholder="{{ user.points }}"
              value="{{ user.points }}"
              (change)="update(user, $event.target.value)"
            />
          </div>
        </div>
      </li>
    </cdk-virtual-scroll-viewport>
  </mat-tab>

  <mat-tab label="Bulk">
    <div class="card-header text-center border-primary pt-3">
      <h5 class="card-title text-primary">LEAD Points in Bulk</h5>
      Add LEAD points to multiple users
    </div>

    <cdk-virtual-scroll-viewport itemSize="100" class="card-body">
      <form
        [formGroup]="addPointsForm"
        (ngSubmit)="addPoints(addPointsForm.value)"
        novalidate
      >
        <div
          class="input-group p-1"
          *ngFor="let user of (fss.orderedUsers$ | async)"
        >
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input
                type="checkbox"
                aria-label="Checkbox for following text input"
                (change)="onChange(user.uid, $event.target.checked)"
              />
            </div>
          </div>
          <div *ngFor="let user of (users | async)">
            <input type="checkbox" />
            {{ user.displayName }}
          </div>
          <div class="d-flex justify-content-between form-control fix-line">
            <div class="flex-column text-left">
              <p>{{ user.displayName | titlecase }}</p>
              <p class="secondary-text">{{ user.email }}</p>
              <p class="secondary-text">{{ user.campus }}</p>
            </div>
            <p class="pr-2 align-self-center">{{ user.points }}</p>
          </div>
        </div>

        <h5 class="card-title text-center mt-3">Insert Points</h5>
        <div class="form-group ml-5 mr-5">
          <input
            type="number"
            class="form-control"
            step="10"
            aria-describedby="points"
            placeholder="Points to add"
            formControlName="points"
          />
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary m-2">
              Add Points
            </button>
          </div>
        </div>
      </form>
    </cdk-virtual-scroll-viewport>
  </mat-tab>

  <mat-tab label="Logs">
    <div class="card-header text-center border-primary pt-3">
      <h5 class="card-title text-primary">Logs</h5>
      Check all the changes that have been made
    </div>

    <div
      *ngFor="let log of (fss.logs$ | async); let i = index"
      class="log-item"
    >
      <p *ngIf="log.pointsAdded">
        <strong>{{ log.adminName | titlecase }}</strong>
        <br />
        {{ logText(log.pointsAdded, log.userName) }}
        <br />
        {{ log.log }}
      </p>
      <p *ngIf="!log.pointsAdded">{{ log.log }}</p>
      <p class="text-right">{{ log.date | date: 'medium' }}</p>
    </div>
  </mat-tab>
</mat-tab-group>
