<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile
      *ngFor="let card of (cards | async)"
      [colspan]="(isHandset$ | async) ? '2' : '1'"
      [rowspan]="1"
    >
      <a mat-list-item (click)="dashboardService.checkRoute(card)">
        <mat-card
          class="dashboard-card"
          fxLayout="column"
          fxLayoutAlign="space-around center"
        >
          <mat-icon>{{ card.icon }}</mat-icon>

          <mat-card-content>
            <mat-card-title>{{ card.title }}</mat-card-title>
            <mat-card-subtitle>{{ card.subTitle }}</mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
