<footer [@openClose]="isOpen ? 'open' : 'closed'">
  <div *ngIf="!isOpen">
    <mat-icon (click)="toogleCredits()">remove</mat-icon>
  </div>

  <div *ngIf="isOpen">
    <mat-icon (click)="toogleCredits()">keyboard_arrow_down</mat-icon>
    <small class="mat-body-strong">
      Created by
      <a href="https://github.com/renansigolo" target="_blank">Renan Sigolo</a>
    </small>
    <p class="mat-body">
      Mr Renan Ferreira is an alumnus of Kent’s Diploma of Website Development
      course who offered to create this website as a volunteer project. Kent
      Institute Australia sincerely thanks Renan and acknowledges the amazing
      contribution he has made to the LEAD program by volunteering his time and
      skills to make this service available to his fellow students.
    </p>
  </div>
</footer>
