footer {
  background-color: #dadada80;
  border-radius: 8px 8px 0 0;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  width: 100%;

  div {
    align-items: center;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    padding: 0 7% 1%;

    mat-icon {
      cursor: pointer;
    }
  }

  a {
    color: var(--dark);
  }
}
